#
# Copyright (C) 2013 Pedro H. Penna <pedrohenriquepenna@gmail.com>
#

# Default rules.
bin/*
lib/*
include/mylib
*.o
*.swp
*.pdf
*.trace
input
output/*
contrib/*

# Exceptions.
!bin/.gitignore
!contrib/mylib*.tar.bz2
!contrib/scotch*.tar.bz2
!contrib/tpzsimul*.tar.bz2
